.a{
    background-color: #3f3f3f;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #3f3f3f;

        h1{
            font-size: 40px;
            font-weight: bold;
            color: #0bd3d3;
            margin: 15px 0;
        }

        .menu-icon {
            color: #0bd3d3;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 600px) {
    
    .a{
    
        .header {
    
            h1{
                font-size: 30px;
            }
        }
    }
}
